body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f8ff;
}

header {
    background: #007acc;
    color: white;
    padding: 20px;
}

main {
    margin: 20px;
}

#product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    background: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
}
